@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron shadow text-center">
    <h1 class="mb-4">Вас приветствует программа <span class="appName">InventoryApp</span>!</h1>
    <p>Данное веб-приложение предназначено для учета оборудования отдела ПНРСУ.<br>
    Все права на использование данной программы принадлежат <a href="http://incomsystem.ru">ЗАО НИЦ "ИНКОМСИСТЕМ"</a>
    </p>
    <div class="border-bottom w-100"></div>
<div class="alert section-header p-4 text-left">
    <div class="scroller">

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.4:</h5>
        <ol>
            <li><p>Исправлена ошибка при которой не работала кнопка Enter на форме авторизации</p></li>
            <li><p>В строке фильтрации оборудования можно использовать ключевое слово @@Use, при котором отображается только используемое сотрудниками оборудование </p></li>
        </ol>

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.3:</h5>
        <ol>
            <li><p>Изменен порядок столбцов в таблицах оборудования</p></li>
            <li><p>Исправлена ошибка при фильтрации списка сотрудников при выдаче оборудовния</p></li>
            <li><p>Исправлена ошибка отображения в истории выданного оборудования</p></li>
        </ol>

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.2:</h5>
        <ol>
            <li><p>Добавлена функция распечатки списка оборудования или сотрудников</p></li>
            <li><p>Добавлен столбец с порядковым номером строки таблицы</p></li>
        </ol>

        <h5 class="pl-4 font-weight-bold pt-2 pb-4">Изменения в версии 1.0.1:</h5>
        <ol>
            <li><p>Изменен механизм поиска. Теперь фильтрация происходит без перезагрузки страницы</p></li>
            <li><p>Добавлена функционал сортировки таблиц</p></li>
            <li><p>Исправлена ошибка редактирования, если она проиводилась из результатов поиска</p></li>
            <li><p>Изменения в модальных окнах выбора оборудования</p></li>
            <li><p>Изменен внешний вид скроллера</p></li>
            <li><p>Исправлены мелкие ошибки</p></li>
        </ol>
    </div>
</div>
</div>

