/*---- Скроллер ----*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
}

.scroller {
    overflow: auto;
    height: 40vh;
}


a {
    color: #000;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("../img/Themes/mainTheme.jpg");
    background-color: #EEE;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto';
}

.mainHeader {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.mainContent {
    padding-top: 150px;
}

.body-content {
    max-width: 1280px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*------------------Лого---------------------*/

.navLogo {
    font-family: 'Roboto Mono';
    font-weight: bold;
    color: white;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px #888;
}

    .navLogo .logoLeft {
        color: #c7e571;
    }

    .navLogo .logoRight {
        background: #c7e571;
        border-radius: 5px;
        padding: 5px;
        color: #335;
        margin-left: 2px;
    }

.appName {
    font-family: 'Roboto mono';
    font-weight: bold;
}

/*------Навигация------*/
.navbar {
    box-shadow: 0 5px 4px -6px #000;
    padding: 0;
    margin-bottom: 20px;
}

    .navbar li {
        font-weight: bold;
    }

    .navbar .active a {
        background: #ddd;
        color: #000;
    }

.nav-link {
    color: #777;
    border-bottom: 2px solid transparent;
    transition: color ease-in 0.1s;
}

    .nav-link:hover {
        color: #000;
    }

#mainNavbar .nav-link:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

/*-------Глобальный Поиск-------*/

.searchGroup {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #000;
}

.searchInput {
    background-color: #bbb;
    border: none;
    outline: none;
    padding: 5px;
    transition: all ease-in 0.1s;
    width: 150px;
    color: white;
}

    .searchInput:focus {
        color: black;
        background-color: white;
        width: 300px
    }

.searchBtn {
    border: none;
    background-color: #666;
    outline: none;
}

/*---------------Поиск по категориям----------------*/

.subSearchForm {
    display: flex;
    flex-direction: row-reverse;
}

    .subSearchForm .searchGroup {
        box-shadow: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
    }

    .subSearchForm .searchInput {
        color: #fff;
        background-color: transparent;
    }

        .subSearchForm .searchInput:focus {
        }

    .subSearchForm .searchBtn {
        background-color: transparent;
    }

/*-------------------Секции-------------------------*/

.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 15px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.sectionContent {
    background-color: white;
    padding: 15px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.detailsSection {
    border-radius: 5px;
    padding: 10px 25px;
}

.detailsBodyContent {
    margin-top: 15px;
}

.profilePhoto {
    display: block;
    height: 250px;
    width: 250px;
}

/*-----------таблицы------------*/
.table-container {
    overflow: auto;
    max-height: 60vh;
}

    .table-container th {
        position: sticky;
        top: 0;
        z-index: 90;
        background: wheat;
    }

.modal-table {
    max-height: 30vh;
}

.indexTable th {
    background-color: wheat;
    cursor: pointer;
}

.indexTable td {
    vertical-align: middle;
}

.indexTable tbody tr:hover {
    background-color: #ccc;
}

.indexTable .controlCell {
    text-align: center;
}
/*-------------Детализация---------------*/

.deviceHistoryPane {
    overflow-y: auto;
    height: 100%;
}

.btn-close, .btn-close:focus {
    outline-style: none;
}

.btnMini {
    line-height: 0.5;
    border: 1px solid #aaa;
    padding: 0.25rem 0.3rem;
}

    .btnMini:hover {
        background-color: rgba(0,0,0,0.2);
    }

/*-------------ТАБЫ-----------------------*/

#employeeDetail {
    height: 500px;
}

    #employeeDetail .nav-item > .nav-link {
        border-radius: 8px 8px 0 0;
        background-color: rgba(155, 155, 155, 0.20);
        color: black;
    }

        #employeeDetail .nav-item > .nav-link:hover {
            background-color: rgba(155, 155, 155, 0.40);
        }

        #employeeDetail .nav-item > .nav-link.active {
            font-weight: bold;
            background-color: #fff;
        }

#nav-tabContent {
    border: 1px solid #ccc;
    border-top: none;
    padding: 0.2rem;
    height: 450px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

/*--------- Таблица детализации ----------------*/

#deviceTable {
    font-size: .95em;
}

    #deviceTable thead {
        background-color: wheat;
        font-weight: bold;
    }

    #deviceTable tbody {
        background-color: transparent;
    }

        #deviceTable tbody tr {
        }

/*--------- Детализация оборудования -------*/

.deviceHistoryPane .deviceHistoryTable td:nth-child(2),
.deviceHistoryPane .deviceHistoryTable td:nth-child(3),
.deviceHistoryPane .deviceHistoryTable td:nth-child(4) {
    width: 30%
}

.description {
    resize: none;
}

    .description:focus {
        box-shadow: none;
    }

/*------ Историческая таблица ----------*/
.deviceHistoryTable {
    font-size: .95em;
}

    .deviceHistoryTable tbody {
        overflow-y: auto;
        max-height: 410px;
        display: block;
    }

    .deviceHistoryTable thead tr {
        background-color: wheat;
        font-weight: bold;
    }

    .deviceHistoryTable thead tr,
    .deviceHistoryTable tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

    .deviceHistoryTable td:nth-child(1) {
        width: 5%
    }

    .deviceHistoryTable td:nth-child(2) {
        width: 40%
    }

    .deviceHistoryTable td:nth-child(3) {
        width: 25%
    }

    .deviceHistoryTable td:nth-child(4),
    .deviceHistoryTable td:nth-child(5) {
        width: 15%
    }
