@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron shadow text-center">
    <h1 class="mb-4">Вас приветствует программа <span class="appName">InventoryApp</span>!</h1>
    <p>Данное веб-приложение предназначено для учета оборудования отдела ПНРСУ.<br>
    Все права на использование данной программы принадлежат <a href="http://incomsystem.ru">ЗАО НИЦ "ИНКОМСИСТЕМ"</a>
    </p>
    
</div>
