@using Microsoft.AspNetCore.Identity

@inject SignInManager<InventoryApp.Data.Entities.ApplicationUser> SignInManager
@inject UserManager<InventoryApp.Data.Entities.ApplicationUser> UserManager

<ul class="navbar-nav" id="loginBar">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Привет, @((await UserManager.GetUserAsync(User))?.Name)!</a>
            <div class="dropdown-menu">
                <form class="form-inline" asp-controller="Authorization" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                    <button type="submit" class="dropdown-item">Выход</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Привет, Гость!</a>
            <div class="dropdown-menu">                              
                <a class="dropdown-item openModalBtn-sm" asp-controller="Authorization" asp-action="Login">Войти</a>
            </div>
        </li>
    }

</ul>
