@model InventoryApp.Models.Employee.CreateOrUpdateEmployeeModel

<div class="modal-content">
    <!--Заголовок-->
    <div class="modal-header">
        <h4>Новый сотрудник:</h4>
        <button type="button" class="btn-close close" data-dismiss="modal">
            <span>&times;</span>
        </button>
    </div>
    <!--Основной блок-->
    <form method="post" asp-action="Create" id="createEmployeeForm">
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Employee.LastName">Фамилия</label>
                <input asp-for="Employee.LastName" class="form-control" placeholder="Иванов" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Name">Имя</label>
                <input asp-for="Employee.Name" class="form-control" placeholder="Иван" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Patronymic">Отчество</label>
                <input asp-for="Employee.Patronymic" class="form-control" placeholder="Иванович" />
                <span asp-validation-for="Employee.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Department.Id">Отдел</label>
                <select asp-for="Employee.Department.Id" asp-items="Model.Departments" class="custom-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Position.Id">Должность</label>
                <select asp-for="Employee.Position.Id" asp-items="Model.Positions" class="custom-select"></select>
            </div>
            <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
        </div>
        <!--Подвал-->
        <div class="modal-footer">
            <button type="button" onclick="CreateEmployee()" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
    </form>
</div>

