@model InventoryASP.Models.Device.CreateOrUpdateDeviceModel

<div class="modal-content">
    <!--Заголовок-->
    <div class="modal-header">
        <h4>Новое устройство:</h4>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--Основной блок-->
    <form asp-action="Create" method="post" id="createDeviceForm">
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Device.DeviceName">Наименование устройства</label>
                <input asp-for="Device.DeviceName" class="form-control" placeholder="Наименование" />
                <span asp-validation-for="Device.DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.DeviceType">Тип устройства</label>
                <input asp-for="Device.DeviceType" class="form-control" placeholder="Тип" />
            </div>
            <div class="form-group">
                <label asp-for="Device.DeviceModel">Модель устройства</label>
                <input asp-for="Device.DeviceModel" class="form-control" placeholder="Модель" />
            </div>
            <div class="form-group">
                <label asp-for="Device.DeviceManufacturer">Производитель устройства</label>
                <input asp-for="Device.DeviceManufacturer" class="form-control" placeholder='Производитель' />
            </div>
            <div class="form-group">
                <label asp-for="Device.SerialNumber">Серийный номер</label>
                <input asp-for="Device.SerialNumber" class="form-control" placeholder="Серийный номер" />
            </div>
            <div class="form-group">
                <label asp-for="Device.Description">Описание</label>
                <textarea asp-for="Device.Description" class="form-control" placeholder="Описание..."></textarea>
            </div>
            <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
        </div>
        <!--Подвал-->
        <div class="modal-footer">
            <button type="button" onclick="CreateDevice()" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
    </form>
</div>