
<div class="modal-content">
    <div class="modal-header p-2">
        <button class="close btn-close" data-dismiss="modal">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Вы уверены что хотите удалить это оборудование?</p>
    </div>
    <div class="modal-footer p-2">
        <form method="post" asp-action="DeleteDevice">
            <input type="hidden" name ="id" value="@ViewBag.Id" />
            <button class="btn btn-danger" type="submit">Удалить</button> 
            <button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        </form>
    </div>
</div>
