@model InventoryASP.Models.Device.NewDeviceModel

<h3>Добавление нового устройства</h3>

<form asp-action="AddNewDevice" method="post" id="addNewDeviceForm">

    <div class="form-group">
        <label asp-for="Type">Тип устройства</label>
        <input asp-for="Type" class="form-control" placeholder="Тип"/>
    </div>
    <div class="form-group">
        <label asp-for="Name">Наименование устройства</label>
        <input asp-for="Name" class="form-control" placeholder="Тип"/>
    </div>
    <div class="form-group">
        <label asp-for="DeviceModel">Модель устройства</label>
        <input asp-for="DeviceModel" class="form-control" placeholder="РХ-300"/>
    </div>
    <div class="form-group">
        <label asp-for="Manufacturer">Производитель устройства</label>
        <input asp-for="Manufacturer" class="form-control" placeholder='ООО "Рога и копыта"'/>
    </div>
    <div class="form-group">
        <label asp-for="SerialNumber">Серийный номер</label>
        <input asp-for="SerialNumber" class="form-control" placeholder="111111111"/>
    </div>
    <div class="form-group">
        <label asp-for="Description" title="">Описание</label>
        <textarea asp-for="Description" class="form-control" placeholder="Описание..."></textarea>
    </div>
    
    <button type="submit" id="submitNewDeviceButton" class="btn btn-success">Добавить</button>

</form>

