/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #1b6ec2;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("../img/Themes/mainTheme.jpg");
    background-color: #EEE;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
    padding: 0;
    margin-bottom: 20px;
}

    .navbar li {
        font-weight: bold;
    }

.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 15px 8px 15px;
}

.sectionHeading{
    color: white;
    font-size: 1.3em;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.sectionContent{
    background-color: white;
    padding: 0 15px 10px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*-------------------Мои Стили----------------------------------*/

.section {
    height: 600px;
}

.deviceHistoryPane {
    overflow-y: auto;
    height: 100%;
}

.mainScreen {
    background: rgba(255, 255, 255, 0.8)
}

.mainBackgroundColor {
    background-color: #373d4e;
}

.btn-close, .btn-close:focus {
    outline-style: none;
}



.btnMini {
    line-height: 0.5;
    padding: 0.25rem 0.3rem;
}

#mainNavbarMenu {
    padding: 0 1rem;
}

#logo {
    font-family: Broadway;
}

/*-------------ТАБЫ-----------------------*/
#employeeDetail .nav-item > .nav-link {
    background-color: rgba(155, 155, 155, 0.16);
    color: black;
}

    #employeeDetail .nav-item > .nav-link.active {
        background-color: #fff;
    }

/*----------------------------------------*/
#nav-tabContent {
    padding: 0.3rem;
    height: 450px;
}

.table-fixed {
    table-layout: auto;
}

    .table-fixed td:first-of-type {
        width: 5%;
    }

    .table-fixed tbody {
        display: block;
        overflow: auto;
        max-height: 400px;
    }

        .table-fixed thead,
        .table-fixed tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
