

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--Навигация-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark shadow mb-3 mainBackgroundColor" id="mainNavbarMenu">
            <div class="container">

                <a class="navbar-brand p-0 text-white" id="logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" width="80" height="80" />InventoryApp</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Device" asp-action="Index">Оборудование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Index">Сотрудники</a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </nav>
        
    </header>

    <!--Основной блок-->
    <div class="container">
        @RenderBody()        
    </div>

    <!--Подвал сайта-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - InventoryASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--Модальные окна-->
    <div class="modal fade" id="modalWindow-background" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" id="modalWindow-content"></div>        
    </div>

    <!--Скрипты-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
