<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--Навигация-->
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <div class="container">
                <div class="navbarHeader">
                    <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.png" width="60" /> InventoryApp
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-lg-inline-flex">
                    <ul class="nav navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Device" asp-action="Index">Оборудование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Employee" asp-action="Index">Сотрудники</a>
                        </li>
                    </ul>

                    <form method="post" asp-controller="Search" asp-action="Find" class="form-inline mr-2">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Поиск..." name="searchQuery" />
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text"><img src="~/img/search_24px.png"></button>
                            </div>
                        </div>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!--Основной блок-->
    <div class="container">
        @RenderBody()
    </div>

    <!--Подвал сайта-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - InventoryASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--Модальные окна-->
    <div class="modal fade bgModal-sm" data-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered" id="modalWindow-content-sm"></div>
    </div>

    <div class="modal fade bgModal-m" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" id="modalWindow-content-m"></div>
    </div>

    <div class="modal fade bgModal-lg" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" id="modalWindow-content-lg"></div>
    </div>


    <!--Скрипты-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
